﻿@using LandingPad.Models
@using Recaptcha.Web.Mvc
@model LandingPad.Models.RegisterViewModel
@{
    ViewBag.Title = "Create an Account";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<div align="center"><img src="~/Content/SquareOneLogo.png" height="100" hspace="5"></div>
<br />
<br />
<div align="center">
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <!--<h4>Create a new account.</h4>-->
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder = "Email"})
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" , placeholder = "Password"})
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password"})
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
        </div>
    </div>
   <div class="form-group">
        <div>
            @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
</div>
<div class="float">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
}
