﻿@model LandingPad.Models.Twitter

@{
    

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>TwitterCallback</title>
</head>

<body>

    <div>

        <h1>Welcome @TempData["Name"]</h1>
        <h1>Welcome @TempData["UserTag"]</h1>

        <p>   this is your Token: @TempData["Token"] </p>
        <p>   this is your verify Token: @TempData["VToken"] </p>
        <br />

        <img src="@TempData["Userpic"]" style="width:100px;height:100px;" />

    </div>

</body>
</html>

