﻿@model IEnumerable<LandingPad.Models.LPProfile>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LPUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Friends)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Followers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LPUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilePhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Friends)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Followers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Writers)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProfileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfileID })
        </td>
    </tr>
}

</table>
