﻿
@{
    ViewBag.Title = "InternalError";
    Layout = "~/Views/Shared/_PenfolioLayout.cshtml";
}

<h1>Internal Error</h1>

<p> Oops sorry, this one is on us. Out site is currently under development and has occasional bugs.</p>

